body{font-family: 'Roboto', sans-serif;
}
.pinky{color:rgb(216, 182, 69)}
h1{font-size: 50px;}
h2{font-size: 40px;}
section{height:500px}
.sec1 {
    height:525px;background-image: url(images/header-bg.png);background-repeat: no-repeat;
background-position: left;background-size: 100%;}
.sec2{background-image: url(images/biography-bg.png);
background-repeat: no-repeat;background-size: 120%;background-position: left;height: 620px;}
.sec2 background-image{height: 100%;}
.firstclass{float: left;
margin-left: 5%;padding: 2%;width: 40%;}
.firstclass img{width:100%;}
.link1{text-decoration:none;
color:whitesmoke;
font-weight: 700;
padding: 12px 40px;border-radius:6px;background-image: linear-gradient(45deg,brown,maroon);}
.h2{text-align:center;font-size:30px;}
.sec3{
    height:400px;background-image: url(images/latest-work-bg.png);background-repeat: no-repeat;background-position:left;background-size: 120%;}
.link2{text-decoration: none;
color:yellow;font-weight:700;background-image: linear-gradient(45deg,rgb(77, 39, 39),rgb(214, 14, 107));
padding: 12px 40px;border-radius: 6px;}
.firstclas{float: left;
    margin-left: 5%;padding:1%;width: 25%;}
.firstclas img{width:100%;}
.sec4{height: 600px;width:100%;
    background-image: url(images/footer-bg.png);background-repeat: no-repeat;background-position: left;background-size: 120%;text-align: center;}
h5{color:grey}
footer{text-align:center ;}
.clasy{color: grey;}
.mail{text-decoration: none;
}
.path{color:white;
background-image: linear-gradient(45deg,cyan,tomato);margin: auto;width: min-content;padding: 20px 130px;border-radius: 20px;}
.robota{font-weight: 800;font-size: 35px;}
#ima1{box-shadow: chocolate 15px 20px 45px;}
    #ima2{box-shadow: greenyellow 15px 20px 45px}
    #ima3{box-shadow: khaki 15px 20px 45px;border-image-slice: 1;}
    #loc img{width: 50%;position: absolute;top: 475px;left: -35px;}
    #newder img{margin-top: 30px;}